body {
  margin: 0px;
  padding: 0px;
}

.first_main {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 40px;

}

.first {
  width: 50%;
  height: 400px;
 

  text-align: left;
  padding-left: 20px;
  
}

.second {
  width: 30%;
  height: 400px;
  background: #FFFFFF;

  
  border: 1px solid #E5E8ED;

  
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;

}

.about {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    
    color: #1E212C; 
}

.text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;

    color: #424551;
     
}

.learn {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 150%;

color: #1E212C;

}


.will_learn {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
  
    color: #424551;
    text-align: left;
}

.dates {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 150%;

letter-spacing: 1px;
text-transform: uppercase;

margin-top: 10px;
color: #1E212C;

}

.info {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;


color: #FF3F3A;

}

.join {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
border-radius: 4px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 44px;

letter-spacing: 0.5px;

color: #FFFFFF;
width: 70%;
margin: auto;
margin-top: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-transform: uppercase;
}

.whom {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
 
    letter-spacing: 1px;
    text-transform: uppercase;
    
    color: #1E212C;
    margin: 20px;
     
}

.you_learn {
    font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 80%;

color: #1E212C;
margin-bottom: 20px;

}

span {
    font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 150%;


color: #FF3F3A;
}

.info2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
 
    
    color: #1E212C;
      
}

.headin {
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
}

.steps {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;

text-align: center;
letter-spacing: 1px;
text-transform: uppercase;

color: #1E212C;

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
margin-top: 30px;
}

.learning {font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 100%;


text-align: center;

color: #1E212C;


flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;}

.process {
    display: flex;
    justify-content: center;
    text-align: center;
}

.one {
    width: 20%;
    height: 200px;

    margin: 10px;
    text-align: left;
}

.number {
    font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;


display: flex;
align-items: center;


color: #D7DADD;

}

.plan {
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;

color: #1E212C;

}

.page {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;
    
    letter-spacing: 0.5px;
    
    color: #FFFFFF;
    width: 20%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}